################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ARGuidanceMAUI/src/.vs
/ARGuidanceMAUI/src/obj
/ARGuidanceMAUI/src/bin
